<h1 mat-dialog-title>Actualizar producto</h1>
<div mat-dialog-content style="padding: 20px">
    <div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Precio del producto</mat-label>
            <input matInput type="number" [(ngModel)]="data.product.price">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button mat-button (click)="saveUpdate()">Guardar</button>
</div>
<h1 mat-dialog-title>Eliminar producto</h1>
<div mat-dialog-content style="padding: 20px">
    <mat-checkbox [(ngModel)]="validator">Eliminar producto de todas las sedes</mat-checkbox>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button mat-button (click)="saveDelete()">Guardar</button>
</div>
