<div class="center">
    <h2 style="margin: 0 0 20px 0">Chic&Cute Sales</h2>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-bottom: 20px">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="user.username">
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-bottom: 20px">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="'password'" [(ngModel)]="user.password">
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="onSubmit()">Iniciar Sesión</button>

    <p style="margin: 20px 0 0 0">¿Olvidaste tu contraseña?</p>
    <p style="margin: 0">Comunícate al WhatsApp +51 940124181</p>
    <p style="margin: 20px 0 0 0">Version 1.0.0</p>
</div>
