.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.content-end {
    text-align: end;
}

.buttons-container {
    display: flex;
    justify-content: center;
}
