<div class="column">
    <div class="content-middle">
        <ng-container *ngIf="this.user.sede != 'Sin sede asignada'; else elseTemplate">
            <h1>Bienvenidos</h1>
            <div class="buttons-container">
                <button mat-flat-button color="primary" [routerLink]="['/sales-point', role]">Punto de Venta</button>
                <button mat-flat-button color="primary" [routerLink]="['/stock', role]">Stock</button>
                <button mat-flat-button color="primary" [routerLink]="['/reports', role]">Reportes</button>
                <button mat-flat-button color="primary" [routerLink]="['/close-sales-day', role]">Cierre de Caja</button>
                <button mat-flat-button color="primary" [routerLink]="['/documents', role]">Documentos</button>
                <button mat-flat-button color="primary" [routerLink]="['/stock-reception', role]">Recepción de Stock</button>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <h1>No estás asignada a una sede</h1>
            <h1>Contacta con administración si se trata de un error</h1>
        </ng-template>
    </div>
    <div class="content-end">
        <button mat-flat-button color="primary" (click)="signOut()" style="background-color: #ff6464; margin: 0 15px 0 0;">Cerrar Sesión</button>
    </div>
</div>
