.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90.62%;
}

.row {
    display: flex;
    flex-direction: row;
}

.title-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-discount {
    width: 50%;
    border: solid 1px;
    border-radius: 5px;
    margin: 0 5px;
}
