.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.report-table {
    margin: 15px;
    width: 60%;
    border: solid 3px;
    overflow-y: auto;
    height: 400px;
}
