<div class="column">
    <h1 style="text-align: center">Punto de Venta</h1>
    <div class="row">
        <div class="sale">
            <form #f="ngForm" style="width: 100%">
                <div *ngFor="let saleDetail of sale.detail; let i = index" class="sale-detail">
                    <div>
                        <mat-form-field subscriptSizing="dynamic" style="width: 90px">
                            <mat-label>Cantidad</mat-label>
                            <input type="number" min="1" [max]="saleDetail.maxQuantity" [disabled]="disableInventoryInput" matInput required [(ngModel)]="saleDetail.quantity" [name]="saleDetail.product.fullName" (ngModelChange)="updateFinalPrice(saleDetail)">
                        </mat-form-field>
                    </div>
                    <div>
                        <p>{{ saleDetail.product.fullName }}</p>
                        <p>S/.{{ saleDetail.product.price }}</p>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 100px">
                            <mat-label>Descuento</mat-label>
                            <mat-select [disabled]="disableInventoryInput" [(value)]="saleDetail.discount">
                                <mat-option *ngFor="let discount of discounts" [value]="discount.quantity" (click)="updateFinalPrice(saleDetail)">
                                    {{discount.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <p>S/.{{saleDetail.finalPrice}}</p>
                    </div>
                    <button [disabled]="disableInventoryInput" mat-flat-button (click)="deleteFromArray(i)" style="background-color: red">Quitar</button>
                </div>
            </form>
            <div style="text-align: center">
                <button mat-flat-button [disabled]="!f.form.valid" color="primary" (click)="nextStep()">Confirmar venta</button>
            </div>
        </div>
        <div class="products">
            <ng-container *ngIf="step == '1'; else elseTemplate">
                <div style="display: flex; flex-direction: column; margin: 15px">
                    <h2 style="margin-top: 0">Productos</h2>
                    <div style="display: flex; align-items: center;">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-right: 10px; width: 150px">
                            <mat-label>Nombre</mat-label>
                            <input matInput [(ngModel)]="productName">
                            <button mat-icon-button matSuffix (click)="searchProduct()" style="border: 0;">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                        <button mat-flat-button color="primary" (click)="reloadSearch()">Reiniciar Búsqueda</button>
                    </div>
                </div>
                <div *ngFor="let inventory of inventories" style="cursor: pointer; margin: 0 20px; display: flex; justify-content: space-between;" (click)="selectProduct(inventory)">
                    <p>{{ inventory.product.fullName }}</p>
                    <p>({{ inventory.quantity }})</p>
                    <p>S/. {{inventory.product.price}}</p>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <form #f="ngForm">
                    <div>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin: 10px; width: 100px">
                            <mat-label>Forma de Pago</mat-label>
                            <mat-select [disabled]="disablePaymentTypeInput" [(value)]="paymentMethod.type">
                                <mat-option [value]="'Efectivo'">Efectivo</mat-option>
                                <mat-option [value]="'Visa'">Visa</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-bottom: 10px; width: 100px">
                            <mat-label>Monto</mat-label>
                            <input type="number" matInput min="0" required [disabled]="disablePaymentInput" [(ngModel)]="paymentMethod.amount" name="payment1">
                        </mat-form-field>
                        <button mat-flat-button color="primary" [disabled]="disablePaymentTypeInput" (click)="addNewPaymentMethod()" style="margin: 0 0 10px 10px">Agregar pago</button>
                    </div>
                    <div *ngIf="newPaymentMethod">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin: 10px; width: 100px">
                            <mat-label>Forma de Pago</mat-label>
                            <mat-select [disabled]="disablePaymentTypeInput" [(value)]="paymentMethod2.type">
                                <mat-option [value]="'Efectivo'">Efectivo</mat-option>
                                <mat-option [value]="'Visa'">Visa</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-bottom: 10px; width: 100px">
                            <mat-label>Monto</mat-label>
                            <input type="number" matInput min="0" required [disabled]="disablePaymentInput" [(ngModel)]="paymentMethod2.amount" name="payment2">
                        </mat-form-field>
                    </div>
                </form>
                <div style="margin-left: 10px">
                    <button mat-flat-button color="primary" [disabled]="!f.form.valid" (click)="savePaymentMethods()">Guardar formas de pago</button>
                    <p>Total Pagado: S/. {{payedPrice}}</p>
                    <p>Total: S/. {{finalPrice}}</p>
                    <p>Vuelto: S/. {{returnPrice}}</p>
                    <button mat-flat-button color="primary" (click)="createPayment()" style="margin-bottom: 10px">Confirmar pago</button>
                </div>
            </ng-template>
        </div>
    </div>
    <div>
        <button mat-flat-button color="primary" [routerLink]="['/home', role]" style="margin: 0 0 0 15px">Regresar</button>
    </div>
</div>
