<div class="column">
    <h1 style="text-align: center">Vendedoras y Sedes</h1>
    <div class="row">
        <div class="user-form">
            <div style="display: flex; justify-content: center;">
                <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-right: 20px">
                    <mat-label>Nombre</mat-label>
                    <input disabled matInput [(ngModel)]="user.name">
                </mat-form-field>
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Apellido</mat-label>
                    <input disabled matInput [(ngModel)]="user.lastName">
                </mat-form-field>
            </div>
            <div style="display: flex; justify-content: center;">
                <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-right: 20px">
                    <mat-label>Usuario</mat-label>
                    <input disabled matInput [(ngModel)]="user.username">
                </mat-form-field>
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Sede</mat-label>
                    <mat-select [disabled]="saveButtonDisabled" [(value)]="user.sede">
                        <mat-option [value]="'Molina Plaza'">Molina Plaza</mat-option>
                        <mat-option [value]="'Open Plaza'">Open Plaza</mat-option>
                        <mat-option [value]="'Sin sede asignada'">Sin sede asignada</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="text-align: center;">
                <button mat-flat-button color="primary" [disabled]="saveButtonDisabled" (click)="updateUser()">Guardar</button>
            </div>
        </div>
        <div class="users">
            <div class="user-title">
                <div class="user-title-item">
                    <h2 style="margin-right: 10px;">Usuarios</h2>
                    <button mat-flat-button style="background-color: lightgreen" (click)="addUser()">+</button>
                </div>
                <div class="user-title-item">
                    <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-right: 10px">
                        <mat-label>Nombre Vendedor</mat-label>
                        <input matInput [(ngModel)]="userName">
                        <button mat-icon-button matSuffix (click)="searchSale()" style="border: 0;">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-flat-button color="primary" (click)="reloadSearch()">Reiniciar Búsqueda</button>
                </div>
            </div>
            <h4 style="margin-left: 10px">Usuarios activos</h4>
            <ng-container *ngIf="users.length == 0; else elseTemplate">
                <p style="margin-left: 20px">No existen usuarios activos</p>
            </ng-container>
            <ng-template #elseTemplate>
                <p *ngFor="let user of users" style="cursor: pointer; margin-left: 20px" (click)="selectUser(user)">{{ user.name + " " + user.lastName }}</p>
            </ng-template>
            <h4 style="margin-left: 10px">Usuarios inactivos</h4>
            <ng-container *ngIf="usersInactive.length == 0; else elseTemplateEmpty">
                <p style="margin-left: 20px">No existen usuarios inactivos</p>
            </ng-container>
            <ng-template #elseTemplateEmpty>
                <p *ngFor="let user of usersInactive" style="cursor: pointer; margin-left: 20px" (click)="selectUser(user)">{{ user.name + " " + user.lastName }}</p>
            </ng-template>

        </div>
    </div>
    <div>
        <button mat-flat-button color="primary" [routerLink]="['/home/Admin']" style="margin: 0 0 0 15px">Regresar</button>
    </div>
</div>
