.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90.62%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.users {
    background-color: lightgray;
    border-radius: 15px;
    width: 50%;
    margin: 15px;
}

.user-title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-title-item {
    display: flex;
    align-items: center;
}

.user-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
