<div class="column">
    <h1 style="text-align: center">Cierre de Caja</h1>
    <div style="display: flex;justify-content: center;">
        <div style="width: 60%;">
            <div style="margin-bottom: 15px">
                <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-right: 10px; width: 150px">
                    <mat-label>Sede</mat-label>
                    <mat-select [(value)]="closeSalesDay.sede">
                        <mat-option *ngFor="let sede of sedes" [value]="sede">
                            {{sede}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-right: 10px; width: 150px">
                    <mat-label>Fecha Cierre</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button mat-flat-button (click)="searchSales()" style="background-color: #eae3db; color: #d1ae6f">Buscar</button>
            </div>
            <div style="height: 425px; overflow-y: auto;">
                <div *ngFor="let sale of closeSalesDay.sales" class="sale">
                    <div>
                        <p *ngFor="let saleDetail of sale.detail">{{saleDetail.quantity}} {{saleDetail.product.fullName}}<span *ngIf="saleDetail.discount != 0" style="font-style: italic;"> Descuento: {{saleDetail.discount}}</span></p>
                    </div>
                    <div>
                        <p *ngFor="let paymentMethod of sale.paymentMethod">{{paymentMethod.type + " S/." + paymentMethod.amount}}</p>
                    </div>
                </div>
            </div>
            <div style="display: flex">
                <div>
                    <p>Efectivo S/.{{closeSalesDay.cashAmount}}</p>
                    <p>Visa S/.{{closeSalesDay.cardAmount}}</p>
                    <p>Total S/.{{totalAmount}}</p>
                </div>
                <div  style="margin-left: 15px">
                    <p>Pagos con efectivo: {{cashCounter}}</p>
                    <p>Pagos con tarjeta: {{cardCounter}}</p>
                </div>
            </div>
        </div>
        <div class="buttons-container">
            <button mat-flat-button style="margin-bottom: 10px; background-color: #eae3db; color: #d1ae6f" (click)="saveCloseSalesDay()">Guardar Cierre</button>
            <button mat-flat-button style="background-color: #eae3db; color: #d1ae6f" (click)="printPdf()">Generar Pdf</button>
        </div>
    </div>
    <div>
        <button mat-flat-button [routerLink]="['/home', role]" style="margin: 0 0 0 15px; background-color: #eae3db; color: #d1ae6f">Regresar</button>
    </div>
</div>
