<div class="column">
    <h1 style="text-align: center">Guías de Remisión</h1>
    <div class="row">
        <div class="remission-guide">
            <div>
                <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-left: 15px">
                    <mat-label>Sede Origen</mat-label>
                    <mat-select [disabled]="disableInventoryInput" [(value)]="remissionGuide.sedeFrom">
                        <mat-option [value]="'Molina Plaza'" (click)="reloadSearch(false)">Molina Plaza</mat-option>
                        <mat-option [value]="'Open Plaza'" (click)="reloadSearch(false)">Open Plaza</mat-option>
                        <mat-option [value]="'Fábrica'" (click)="reloadSearch(false)">Fábrica</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <form #f="ngForm">
                <div *ngFor="let inventory of remissionGuide.products; let i = index" class="remission-guide-item">
                    <div style="display: flex; align-items: center">
                        <mat-form-field subscriptSizing="dynamic" style="margin: 20px; width: 100px">
                            <mat-label>Cantidad</mat-label>
                            <input type="number" min="1" [max]="inventory.maxQuantity" [disabled]="disableInventoryInput" matInput required [(ngModel)]="inventory.quantity" [name]="inventory.product.fullName">
                        </mat-form-field>
                        <p>{{ inventory.product.fullName }}</p>
                    </div>
                    <button [disabled]="disableInventoryInput" mat-flat-button style="background-color: #eae3db; color: #d1ae6f" (click)="deleteFromArray(i)">Quitar</button>
                </div>
            </form>
            <div style="text-align: center">
                <button mat-flat-button [disabled]="!f.form.valid" (click)="nextStep()" style="background-color: #eae3db; color: #d1ae6f">Confirmar guía</button>
            </div>
        </div>
        <div class="products">
            <ng-container *ngIf="step == '1'; else elseTemplate">
                <div style="display: flex; align-items: center;">
                    <h2 style="margin: 20px 10px">Productos</h2>
                    <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-right: 10px">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="productName">
                        <button mat-icon-button matSuffix (click)="searchProduct()" style="border: 0;">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-flat-button (click)="reloadSearch(true)" style="margin-right: 10px; background-color: #eae3db; color: #d1ae6f">Reiniciar Búsqueda</button>
                </div>
                <div *ngFor="let inventory of inventories" style="cursor: pointer; margin: 0 20px; display: flex; justify-content: space-between;" (click)="selectProduct(inventory)">
                    <p>{{ inventory.product.fullName }}</p>
                    <p>({{ inventory.quantity }})</p>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div style="margin: 20px">
                    <div>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-bottom: 15px">
                            <mat-label>Fecha de Emisión</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="remissionGuide.date">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-bottom: 15px">
                            <mat-label>Sede Destino</mat-label>
                            <mat-select [(value)]="remissionGuide.sedeTo">
                                <mat-option *ngFor="let sede of sedesDestiny" [value]="sede">
                                    {{sede}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button mat-flat-button (click)="createRemissionGuide()" style="background-color: #eae3db; color: #d1ae6f">Generar Guía</button>
                </div>
            </ng-template>
        </div>
    </div>
    <div>
        <button mat-flat-button [routerLink]="['/home/Admin']" style="margin: 0 0 0 15px; background-color: #eae3db; color: #d1ae6f">Regresar</button>
    </div>
</div>
