<div class="column">
    <h1 style="text-align: center">Guías de Remisión</h1>
    <div class="row">
        <div class="remission-guide">
            <div>
                <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-left: 15px">
                    <mat-label>Sede Origen</mat-label>
                    <mat-select [(value)]="sedeSelected">
                        <mat-option *ngFor="let sede of sedes" [value]="sede" (click)="selectSede()">
                            {{sede}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngFor="let inventory of inventoriesToGuide" class="remission-guide-item">
                <div style="display: flex; align-items: center">
                    <mat-form-field subscriptSizing="dynamic" style="margin: 20px; width: 90px">
                        <mat-label>Cantidad</mat-label>
                        <input type="number" matInput [(ngModel)]="inventory.quantity">
                    </mat-form-field>
                    <p>{{ inventory.product.fullName }}</p>
                </div>
                <button mat-button (click)="deleteFromArray(inventory)" style="background-color: red">-</button>
            </div>
            <div style="text-align: center">
                <button mat-button (click)="nextStep()">Confirmar guía</button>
            </div>
        </div>
        <div class="products">
            <h2 style="margin: 20px 10px">Productos</h2>
            <div *ngFor="let inventory of sedeSelected == 'Fábrica' ? inventoriesF : sedeSelected == 'Molina Plaza' ? inventoriesMP : inventoriesOP" style="cursor: pointer; margin-left: 20px" (click)="selectProduct(inventory)">
                <p>{{ inventory.product.fullName }}</p>
                <p>Disponibilidad ({{ inventory.quantity }})</p>
            </div>
        </div>
    </div>
    <div>
        <button mat-button [routerLink]="['/home', role]" style="margin: 0 0 15px 15px">Regresar</button>
    </div>
</div>
