button {
    border: solid 1px
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90.62%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.products {
    background-color: lightgray;
    border-radius: 15px;
    width: 40%;
    margin: 15px;
}

.remission-guide {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.remission-guide-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
