.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90.62%;
}

.inventories-container {
    margin: 15px;
    overflow-y: auto;
    border: solid 3px;
    height: 400px;
}
