<div class="column">
    <h1 style="text-align: center">Stock</h1>
    <div>
        <div>
            <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin: 0 10px">
                <mat-label>Sede</mat-label>
                <mat-select [(value)]="sedeSelected">
                    <mat-option [value]="'Molina Plaza'" (click)="reloadSearch()">Molina Plaza</mat-option>
                    <mat-option [value]="'Open Plaza'" (click)="reloadSearch()">Open Plaza</mat-option>
                    <mat-option [value]="'Web'" (click)="reloadSearch()">Web</mat-option>
                    <mat-option [value]="'Fábrica'" (click)="reloadSearch()">Fábrica</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin-right: 10px">
                <mat-label>Nombre Producto</mat-label>
                <input matInput [(ngModel)]="productName">
                <button mat-icon-button matSuffix (click)="searchProduct()" style="border: 0;">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <button mat-flat-button (click)="reloadSearch()" style="background-color: #eae3db; color: #d1ae6f">Reiniciar Búsqueda</button>
        </div>
        <div class="inventories-container">
            <table mat-table [dataSource]="inventories" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre de Producto </th>
                    <td mat-cell  *matCellDef="let inventory">{{inventory.product.fullName}}</td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Código de Producto </th>
                    <td mat-cell *matCellDef="let inventory">{{inventory.product.code}}</td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let inventory">{{inventory.quantity}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['name', 'code', 'quantity']"></tr>
                <tr style="cursor: pointer" mat-row *matRowDef="let inventory; columns: ['name', 'code', 'quantity'];" (click)="editInventory(inventory)"></tr>
            </table>
        </div>
    </div>
    <div>
        <button mat-flat-button [routerLink]="['/home', role]" style="margin: 0 0 0 15px; background-color: #eae3db; color: #d1ae6f">Regresar</button>
    </div>
</div>
