<div class="column">
    <div class="content-middle">
        <h1>Bienvenido</h1>
        <div class="buttons-container" style="margin-bottom: 15px">
            <button mat-flat-button color="primary" [routerLink]="['/users-sede']" style="margin-right: 10px">Vendedoras y Sedes</button>
            <button mat-flat-button color="primary" [routerLink]="['/products-discounts']" style="margin-right: 10px">Productos y Descuentos</button>
            <button mat-flat-button color="primary" [routerLink]="['/sales-point', role]" style="margin-right: 10px">Punto de Venta</button>
            <button mat-flat-button color="primary" [routerLink]="['/stock', role]" style="margin-right: 10px">Stock</button>
            <button mat-flat-button color="primary">Reportes</button>
        </div>
        <div class="buttons-container">
            <button mat-flat-button color="primary" style="margin-right: 10px">Cierre de Caja</button>
            <button mat-flat-button color="primary" style="margin-right: 10px">Documentos</button>
            <button mat-flat-button color="primary" [routerLink]="['/remission-guide']" style="margin-right: 10px">Guía de Remisión</button>
            <button mat-flat-button color="primary" [routerLink]="['/stock-reception', role]">Recepción de Stock</button>
        </div>
    </div>
    <div class="content-end">
        <button mat-flat-button color="primary" (click)="signOut()" style="background-color: #ff6464; margin: 0 15px 0 0;">Cerrar Sesión</button>
    </div>
</div>
