<div class="column">
    <div class="content-middle">
        <h1>Bienvenida</h1>
        <div class="buttons-container" style="margin-bottom: 15px">
            <button mat-flat-button [routerLink]="['/users-sede']" style="margin-right: 10px; background-color: #eae3db; color: #d1ae6f">Vendedoras y Sedes</button>
            <button mat-flat-button [routerLink]="['/products-discounts']" style="margin-right: 10px; background-color: #eae3db; color: #d1ae6f">Productos y Descuentos</button>
            <button mat-flat-button [routerLink]="['/sales-point', role]" style="margin-right: 10px; background-color: #eae3db; color: #d1ae6f">Punto de Venta</button>
            <button mat-flat-button [routerLink]="['/stock', role]" style="margin-right: 10px; background-color: #eae3db; color: #d1ae6f">Stock</button>
            <button mat-flat-button [routerLink]="['/reports', role]" style="background-color: #eae3db; color: #d1ae6f">Reportes</button>
        </div>
        <div class="buttons-container">
            <button mat-flat-button [routerLink]="['/close-sales-day', role]" style="margin-right: 10px; background-color: #eae3db; color: #d1ae6f">Cierre de Caja</button>
            <button mat-flat-button [routerLink]="['/documents', role]" style="margin-right: 10px; background-color: #eae3db; color: #d1ae6f">Documentos</button>
            <button mat-flat-button [routerLink]="['/remission-guide']" style="margin-right: 10px; background-color: #eae3db; color: #d1ae6f">Guía de Remisión</button>
            <button mat-flat-button [routerLink]="['/stock-reception', role]" style="background-color: #eae3db; color: #d1ae6f">Recepción de Stock</button>
        </div>
    </div>
    <div class="content-end">
        <button mat-flat-button color="primary" (click)="signOut()" style="background-color: #ff6464; margin: 0 15px 0 0;">Cerrar Sesión</button>
    </div>
</div>
